.carousel {
  overflow: hidden;
  margin: 0 auto;
  width: 200px;
  height: 400px;
  white-space: nowrap;
  div {
    width: 200px;
    height: 400px;
    background-size: cover;
    display: inline-block;
    transition: ease 0.5s;
  }
}
